/Animation.class
/AnimationTester2.class
/AnimationTester3.class
/AnimationTester4.class
/AnimationTester5.class
/AnimationTester6.class
/AnimationTester7.class
/BoundedMoveStrategy.class
/BoxedShape.class
/CarShape.class
/CompoundShape.class
/CrazyMoveStrategy.class
/MoveStrategy.class
/MoveableIcon.class
/MoveableShape.class
/ShapeIcon.class
/ShapeTest$TestShape.class
/ShapeTest.class
/SimpleMoveStrategy.class
